/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON STYLES */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

header div {
    display: flex;
    align-items: center;
}

header div button {
    margin-left: 0.5rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

header div h2 {
    margin-right: 0.5rem;
}

header div h1 {
    margin-left: 0.5rem;
}

/* MAIN */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #59E3E3;
}

/* BOARD */

#board {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    height: 30rem;
    margin: 1rem;
}

.cell-10 {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 0.125rem solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-9 {
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 0.125rem solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-7 {
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 0.125rem solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    background-color: #598CE3;
}

/* FOOTER  */

footer {
    padding: 1rem;
}